body {
    font-family: Arial, sans-serif;
}
#container {
    padding: 10px;
    width: 1900px;
    height: 80%;
    background-color: #00ffdd;
}
#track {
    width: 1900px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    margin: 20px auto;
}
#car {
    height: 150px;
    width: 100px;
    position: relative;
    left: 0px;
}
#stopButton {
    padding-top: 15px;
    margin: 10px auto;
    background-color: white;
    width: 100px;
    height: 50px;
    color: red;
    text-align:center;
    font-size: 24px;
    line-height: 30px;
}